/*/////////////////////////////////////////////////////////////////////////////
/// MAIN ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

.not-front{

	#content{
		background-color:white;
		@include border-radius(4px, 4px);
		
		//CONTENT SYSTEM
		.content-system{ 
			margin: $gutter-width*1.5;
			margin-bottom: 0;
			@media print{
				margin: 0;
			}

			#title{
				border-bottom: 1px dotted $grey-light;
				overflow: auto;
				margin-bottom: $gutter-width;
			}
			#title h1{
				margin-top: 25px;
				@media print{
					margin: 0;
					margin-bottom: 20px;
				}
			}

		}

		//CONTENT REGION
		.block-system,
		.block-views{
			margin: $gutter-width*1.5;
			margin-top: $gutter-width/2;
			p{
				text-align: justify;
			}
			@media print{
				margin: 0;
			}
		}

		//SETTINGS USER
		#user-register-form,
		#user-profile-form {
			input[type="password"]{
				width: 40% !important;
			}
			div.password-strength, 
			div.password-confirm{
				margin-top: -4px;
				line-height: 16px;
				font-size: 11px;
				.error{
					line-height: 7px;
				}
			}
			label{
				line-height: 14px !important;
				vertical-align: top;
			}
			.form-item-roles-3{
				display: none;
			}
			#edit-overlay-control{
				display: none;
			}
			.form-item-name{
				display: none;
			}
		}

		//OEFENINGEN
		.documents, 
		.summary{
			border: 1px dotted $grey-light;
			background-color: $grey-bright;
			@include border-radius(4px, 4px);
			//@include span-columns(4,12);
			@include grid-column(4, true, false, 0, 0, 0, true);
			padding: 1em;
			margin-right: 0px;
			margin-left: 1em;
			float: right;
			.file{
				display: block;
				border-bottom: 1px dotted $grey-light;
				margin-bottom: 1em;
				padding-bottom: 1em;

			}
			.file:last-child{
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			h2{
				margin-top: 0px;
			}
			a{

			}
			.file-icon{
				display: inline;
				margin-left: 0px;
				margin-bottom: 0px;
				margin-right: 0.5em;
			}
			ul{
				padding-left: 1.5em;
			}
			.btn{
				width: 100%;
				text-align: center;
				background: $blue;
				cursor: pointer;
				display: block;
				color: white;
				padding: 1em 2em;
				text-decoration: none;
				margin-bottom: 1em;
				&:hover{
					background-color: $grey;
				}
			}
		}

		// .overlay{
		// 	position: fixed;
		// 	top:0px;
		// 	z-index: 10;
		// 	left:0px;
		// 	width:100%;
		// 	height:100%;
		// 	cursor: pointer;
		// 	padding: 50px;
		// 	background-color:rgba(0,0,0,0.6);
		// 	overflow-y: auto;
			.exercise{
				width: 100%;
				display: table;
				z-index: 11;
				margin: auto;
				margin-top: 0px;

				@media print {
					padding-top:0px;
					margin: 0px;
					width: 100%;
					margin-top: 0px;
					background-color: white;
				}
			}
			@media print {
				padding: 0px;
				overflow: hidden;
				position: absolute;
			}
		// }

		.node-article-form .vertical-tabs,
		.node-school-form .vertical-tabs{
			display: none;
		}

		#exercise{
			.webform-component-radios{
				float:left;
				margin: 0px;
				margin-top: -5px;

				.form-item{
					float:left;
					margin-top: 0px;

					label{
						line-height: 15px;
						vertical-align: top;
					}
				}
			}

			.webform-component-textarea{
				clear: both;
				margin: 0px;
				
				margin-bottom: 10px;
				padding-bottom: 10px;
				.description{
					font-style: italic;
					font-size: 14px;
				}

				label{
					pointer: default;
					font-size: 14px;
				}
			}
			.webform-component-markup{
				font-size: 18px;
				color: black;
			}
			.fieldset-description{
				margin-top: -20px;
				margin-bottom: 20px;
			}
			.form-submit{
				@include button;
				border: 0;
			}


			//Customizations
			#webform-client-form-8 > div > fieldset,
			#webform-client-form-37 > div > fieldset,
			#webform-client-form-41 > div > fieldset,
			#webform-client-form-173 > div > fieldset,
			#webform-client-form-101 > div > fieldset{
				border: 0px;
				padding: 0px;
			}

			#webform-client-form-8 > div > fieldset > legend,
			#webform-client-form-37 > div > fieldset > legend,
			#webform-client-form-41 > div > fieldset > legend,
			#webform-client-form-173 > div > fieldset > legend,
			#webform-client-form-101 > div > fieldset > legend{
				color: $blue;
				margin-bottom: 1em;
				font-size: 16px;
			}

			#webform-client-form-133 > div > fieldset > legend,
			#webform-client-form-147 > div > fieldset > legend{
				color: $brown;
				margin-bottom: 0em;
				font-size: 16px;
			}

			#webform-client-form-133 > div > fieldset > div > fieldset,
			#webform-client-form-147 > div > fieldset > div > fieldset{
				border: 0px;
				padding: 0px;
				margin-top: 0px;
			}

			#webform-client-form-37 > div > fieldset > legend{
				color: $red;
			}

			#webform-client-form-41 > div > fieldset > legend,
			#webform-client-form-173 > div > fieldset > legend,
			#webform-client-form-101 > div > fieldset > legend{
				color: $brown;
			}

			#webform-client-form-12 input[type="submit"]{
				display: none;
			}

			#webform-client-form-58{
				fieldset{
					background: $grey-bright url(../images/exercise_swot.png) no-repeat 50% 50%;
					padding: 2em 3em;
				}
			 	.form-item{
					width: 39%;
					clear: none;
					float: left;

					&#webform-component-catergorie--weaknesses,
					&#webform-component-catergorie--threats{
						float:right;

					}
					textarea{
						margin-bottom: 2em;
						height: 180px;
						@include border-radius(10px);
					}
				}
			}

			#webform-client-form-34,
			#webform-client-form-140,
			#webform-client-form-93{
				.webform-component{
					border-bottom: 1px dotted white;
					width: 100%;
					background: $grey-bright;
					padding: 1em;
					margin-bottom: 5px;
					padding-top: 12px;
					padding-bottom: 7px;

					> label{
						width: 70%;
						float:left;
					}
					.option{
						display: block;
						margin: 0;
						padding-bottom: 1em;
					}
					.form-radios{
						float:right;
						text-align: center;
						margin-top: -5px;
						.form-item{
							background: white;
							padding: 1em;
							padding-bottom: 0px;
							text-align: center;
							margin-top: 5px;
						}
					}
				}
			}

			#webform-client-form-59{
				.form-item .description{
					clear: both;
				}
			}

			#webform-client-form-41>div,
			#webform-client-form-173>div{
				background: white url(../images/exercise_41.png) no-repeat 50% 50%;
				padding: 2em;
			}

			#webform-client-form-41,
			#webform-client-form-173{
				padding: 2em;
				padding-top: 4em;
				.form-item{
					width: 350px !important;
					float: left;
					margin-right: 10px;
					clear: none;
					margin-bottom: 0;
					left: 50%;
					position: relative;
					margin-left: -175px;
					textarea{
						height: 150px;
					}
				}
				.fieldset-wrapper{
					clear:both;
					width: 100%;
					text-align: center;
					.fieldset-legend{
						font-size: 16px;
					}
				}
			}

			#webform-client-form-101{
				background: transparent url(../images/icon_arrow.png) repeat-y 50% 0;
				fieldset legend{
					background: transparent !important;
				}
			}

			#webform-client-form-133,
			#webform-client-form-147{
				margin: 0;
				.red-bar{
					
					width: 40px;
					margin-top: -7px;
					height: 24px;
					background: $brown url(../images/icon_arrow_both.png) no-repeat 45% 43%;
					border-radius: 5px;
				}
				.dragdealer{
					height: 10px;
				}
				.webform-component-markup{
					width: 33%;
					float:left;
					margin: 0;
					border: 1px dotted $grey-light;
					
					em, ul li{
						font-size: 12px;
					}
					p{
						margin: 0;
						line-height: 20px;
						margin-bottom: 10px;
					}
					ul{
						margin: 0px;
						padding-left: 15px;
					}
					.dragdealer{
						
						margin-top: 18px;
					}
					h3{
						padding: 10px;
						padding-bottom: 0px;
						margin-bottom: 12px;
					}
					div.description{
						background: #eee;
						padding: 10px;
					}
				}
				.webform-component-markup:nth-child(2){
					border: 0px;
					padding: 0;
				}

				.webform-component-number{
					display: none;
				}
				.webform-component-markup:last-child{
					float:right;
				}

			}
			
			#webform-client-form-96, #webform-client-form-97{
				position: relative;
				display: table-cell;
				width: 50%;
				padding: 5em 0em 2em 2em;

				.part{
					
					background-color: $yellow;
					padding: 1.3em;
					line-height: 1.5em;
					z-index: 2;

					position: relative;
					@include transition(0.5s);
					&:hover{
						background-color:$yellow-dark;
						@include transition(0.5s);
						text-decoration: none;
					}
					@media print {
						width: 85%;
						border: 20px solid black;
						background-color: black;
						line-height: 1.1em;
					}
					@include border-radius(30px);
					h1{
						text-transform: uppercase;
						margin: 0em;
						color:white;
					}
					h2{
						margin: 0em;
						margin-bottom: 0.5em;
					}
					.triangle, .square{
						background-color: white;
						padding: 1em;
						margin-bottom: 0.5em;
						
						&:hover{
							
							@include transition(0.5s);
						}
					}
					ul{
						margin: 0;
					}
					a{
						text-decoration: underline;
					}
					&.four{
						background-color: $grey-bright;
						position: absolute;
						width: 140px;
						text-align: center;
						height: 100%;
						z-index: 1;
						top: 0;
						padding-left: 6em;
						right: 0;
						display: block;
						cursor: pointer;
						h1{
							font-weight: normal;
							color: black;
							position: absolute;
							top: 55%;
							-webkit-transform-origin: 0 0;
							writing-mode: tb-rl;
							white-space: nowrap;
							-ms-transform:rotate(-90deg); /* IE 9 */
						  -moz-transform:rotate(-90deg); /* Firefox */
						  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
						  -o-transform:rotate(-90deg); /* Opera */
						}
					}
				}

			}

			.info{
				display: table-cell;
				width: 50%;
				padding: 1em 2em 1em 2em;
				
				color: white;

				@media print {
					width: 50%;
					color: black;
					line-height: 1.1em;
				}
				
				h1{
					margin-top: 0;
				}
				p{
					text-align: justify;
				}
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						padding: 20px;
						background-color: white;
						cursor: pointer;
						font-style: italic;
						color: black;
						&:hover{
							background-color: $grey-bright;
						}
					}
				}
				a{
					background-color: white;
					padding: 5px;
					margin-right: 10px;
					text-decoration: none;

					margin-bottom: 10px;
					display: block;
					float: left;
					&:hover, &.selected{
						color:white;
						background-color:$yellow;
					}
				}
				.answer{
					text-transform: uppercase;
					font-size: 20px;
					margin-bottom: 10px;
					padding: 10px;
					text-align: center;
				}

				.color_true{
					background-color: green;
				}

				.color_false{
					background-color: red;
				}
				
			}
		}

		#comments{
			.comment{
				border: 1px dotted $grey-light;
				padding: $gutter-width;
				margin-bottom: $gutter-width;
				.submitted{
					font-size:11px;
				}
			}
			input.ng-dirty.ng-invalid,
			textarea.ng-dirty.ng-invalid{
				border: 1px solid red;
				margin-bottom: 0px;
			}
			a{
				font-size: 12px;
				margin-bottom: 0px;
			}
			label{
				font-weight: bold;
			}
			textarea{
				height: 200px;
			}
		}

		#methods{
			.method{
				border: 1px dotted $grey-light;
				padding: $gutter-width;
				margin-bottom: $gutter-width;
				margin-top: 0px;
				p:first-child{
					margin-top: 0;
				}
				img{
					display: none;
				}
			}
		}

		#results, #list{
			.result, .filter{
				border: 1px dotted $grey-light;
				padding: $gutter-width;
				margin-bottom: $gutter-width;
			}
			.value{
				background: $grey-bright;
				padding: $gutter-width;
			}
			.period{
				label{
					@include grid-column(1, true, false, 0, 0, 0, true);
					//@include span-columns(1,12);
					line-height: 30px;
				}
				input{
					@include grid-column(2, true, false, 0, 0, 0, true);
					//@include span-columns(2,12);
					margin-bottom: 0px;
				}
			}

			.linebar{

				span{
					float:left;
					
					display:block;
					color: white;
					text-align: center;
					padding:10px;
					margin: 2px 0 12px 0;
					&.green, &.level4{
						background-color: $green;
					}
					&.green-dark, &.level3{
						background-color: green;
					}
					&.red, &.level2{
						background-color: red;
					}
					&.red-dark, &.level1{
						background-color: darkred;
					}
					&.blue{
						background-color: $blue;
					}
					&.brown{
						background-color: $brown;
					}
					&.pink{
						background-color: $pink;
					}
					&.yellow{
						background-color: $yellow;
					}

					&.reset{
						margin: 0;
						padding: 0;
						width: 100%;
						height: 100%;
						line-height: 60px;
					}
				}
			}
		}

	}

	&.sidebar{
		#content{
			//@include span-columns(9 omega,12);
			@include grid-column(9, true, false, 0, 0, 0, true);
			@media print {
				//@include span-columns(12 omega,12);
				@include grid-column(12, true, false, 0, 0, 0, true);
			}
			position: inherit;
		}
	
	}

	&.no-sidebar{
		#content{
			//@include span-columns(12 omega,12);
			@include grid-column(12, true, false, 0, 0, 0, true);
		}
	}
}

//.page-node-96{
	//#main #content{
		//@include span-columns(12 omega,12);
		//@include grid-column(12, true, false, 0, 0, 0, true);
	//}
//}

.not-logged-in.page-user{
	#content{
		//@include pre(2,12);
		//@include span-columns(8,12);
		@include grid-column(8, true, false, 0, 0, 0, true);
		background-color:white;
		@include border-radius(4px, 4px);
		.content-system{ 
			margin: $gutter-width*1.5;
			margin-bottom: 0;

			#title{
				border-bottom: 1px dotted $grey-light;
				overflow: auto;
			}
			#title h1{
				margin-top: 25px;
			}

		}
		.block-system,
		.block-views{
			margin: $gutter-width*1.5;
			margin-top: $gutter-width/2;
		}
	}
}



.front{
	#content{
		//FRONT BLOCKS
		.block .node-module.node-teaser{	
			@include border-radius(4px, 4px);
			text-align: center;
			cursor: pointer;
			margin-bottom: $gutter-width;
			opacity: 0.5;

			&#node-14{
				@include module(14);
			}

			&#node-15{
				@include module(15);
			}
			
			&#node-16{
				@include module(16);
			}
			
			&#node-17{
				@include module(17);
			}
			
			&#node-42{
				@include module(42);
			}

			&#node-43{
				@include module(43);
			}

			&.node-module{
				height: 180px;
				border: 1px solid white;
			}

			h2{
				text-transform: uppercase;
				margin: auto;
				margin-top: 0px;
				a{
					text-decoration: none;
				}
			}
			
    	//@include grid-column(3);
    	float:left;
    	width: 23.7%;

    	margin-right: 1em;
    	padding: 0em;

    	&:nth-child(4), &:nth-child(8){
    		margin-right: 0;
    	}


    	//@include isolate-grid(3);

			// @include at-breakpoint($large) {
	  //   	@include span-columns(3,12);
			// 	@include isolate-grid(3);
	  // 	}

	  	&.node-promoted, &.logo, &.intro{
	  		opacity: 1;
	  	}

	  	&.logo{
	  		background: $red url('../logo_big.png') no-repeat 50% 50%;
	  	}

	  	&.intro{
				opacity: 1;
				background: white;
				padding: 1em;
				line-height: 1.4em;
				text-align: justify;
				width: 21.3%;
				height: 152px;
	  	}
		}		
	}
}
