/*/////////////////////////////////////////////////////////////////////////////
/// footer ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

.push{
	height: 100px;
}

#footer{
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	background-color: white;
	padding: 0;

	.content{
		text-align:center;
		p{
			margin: 0;
			padding-top: 22px;
		}
		img{
			margin-right: 100px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}