/*/////////////////////////////////////////////////////////////////////////////
/// GLOBAL //////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

html, body{
	font-family: $font-1;
	font-size: 14px;
	color: $grey;
	line-height: 24px;
	height: 100%;
	//background: $grey-light;
	background: transparent url('../images/background_pattern.png');
	background-attachment: fixed;
	margin: 0px;
	font-weight: normal;
	@media print {
		color: $grey-dark;
		background-color: white;
	}
}

@media print {
	.backstretch{
		display: none;
	}
}

h1{
	font-family: $font-1;
	color:$blue;
	font-size: 30px;
	font-weight: 300;
	line-height: 24px;
}

h2{
	font-size: 18px;
	font-family: $font-1;
	font-weight: 400;
	color: black;
}

h3{
	font-size: 13px;
	font-family: $font-1;
	color:$blue;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 18px;
}

h4{
	font-family: $font-1;
	font-weight: 800;
	font-size: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

hr{
	height: 0px;
	border: 0px;
	width: 50px;
	border-bottom: 1px solid $grey;
	text-align: left;
	float: left;
	display: block;
	margin: 20px 0px 28px 0px;
}

.content-system ul{
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding-right: 1em;
	}
}

a{
	color: $grey;
	@include transition(0.5s);
}

a:hover{
	text-decoration: none;
	@include transition(0.5s);
}

div.status{
	margin-bottom: 30px;
}

div.status, table tr.ok {
	border-left:0px;
	border-right:0px;
	background-color: white;
	color:black;
	line-height: 20px;
	color: #AAAAAA;
	border: 0;
}

div.error {
	color:black;
	border-left:0px;
	border-right:0px;
	background-color: white;
	border: 0;
	line-height: 20px;
	color: #AAAAAA;
}

.tabs-wrapper{
	height:30px;
	display:block;
	margin-bottom:5px;
}

.custom_tabs, 
.sub-nav,
.action-links{
	@include sub-nav();
	a{
		margin-top: 0px;
		font-family: $font-1;
		font-size: 13px;
		padding: 0 !important;
	}
	.active a,
	a.active{
		-webkit-border-radius: 3px;
		border-radius: 3px;
		font-weight: normal;
		background: #008cba;
		padding: 0.1875rem 1rem !important;
		cursor: default;
		color: white !important;
	}
	@media print {
		display: none;
	}
}

.node img{
	display: block;
	padding: 5px;
	border: 1px solid $grey-light;

	margin: 1em;
}


table{
	width: 100%;
	border: 1px dotted $grey-light;
	thead{
		tr{
			th{
				padding: $gutter-width;
				font-size: 1rem;
			}
		}
	}
	tbody{
		border: 0px;
	}
	tr{
		border-bottom: 0px;
		&.odd{
			border: 0px;
			background: none;
			padding: 0px;
		}
		&.even{
			border: 0px;
			padding: 0px;
		}
		td{
			vertical-align: top;
			padding: $gutter-width;
			font-size: 1rem;
		}
	
	}
}

fieldset{
	border: 1px dotted $grey-light;
	@include border-radius(5px);
}

label{
	font-weight: bold;
}

input[type="submit"]{
  @include border-radius(5px);
}

textarea{
	@include border-radius(5px);
}

#edit-field-webform-methods-und{
	height: 150px;
}

#ui-datepicker-div{
	margin-top: -25px;
}

.vertical-tabs fieldset.vertical-tabs-pane{
	padding-top: 20px;
}

.content-system{
	position: relative;
}

#print {
	background: transparent url("../images/icon_print.png") no-repeat;
	width: 26px;
	height: 26px;
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 0px;
	@include opacity(0.6);
	cursor: pointer;
	&:hover{
		@include opacity(0.8);
	}
	@media print{
		display: none;
	}
}

.popup{
	#print{
		opacity: 1;
		background: transparent url("../images/icon_print_white.png") no-repeat;
		top: 29px;
		right: 90px;
	}
}

.popup{
	position:absolute;
	display:block;
	top:0px;left:0px;
	background-color:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	@media print {
		background-color: white;
		padding: 0px;
		position: relative;
	}
}

.close{
	text-decoration: none;
	color:white;
	font-weight: bold;
	position: absolute;
	right: 60px;
	margin-top: 30px;
	font-size:20px;
	@media print {
		display: none;
	}

}

.quote, .tip{
	padding: 20px;
	padding-top: 18px;
	padding-left: 81px;
	margin-bottom: 25px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset -5px -5px #e7e7e7;
	-webkit-box-shadow: inset -5px -5px #e7e7e7;
	box-shadow: inset 5px 5px #e7e7e7;
	font-style: italic;
	font-family: Georgia;
	font-size: 14px;
	line-height: 20px;
	color: $grey-dark;
}

ul.tip{
	padding-left: 90px;
}

.quote{
	background: #efefef url(../images/icon_quote.png) no-repeat 17px 20px;
	a{
		float: none !important;
		display: inline !important;
		margin: 0 !important;
		padding: 0 !important;
		text-decoration: underline !important;
		background-color: transparent !important;
		&:hover{
			color: black !important;
		}
	}
	ul{
		list-style: disc !important;
		li{
			background-color: transparent !important;
			cursor: default !important;
			padding: 0px !important;
			color: #585858 !important;
		}
	}
}

.tip{
	background: #efefef url(../images/icon_tip.png) no-repeat 17px 20px;
	a{
		float: none !important;
		display: inline !important;
		margin: 0 !important;
		padding: 0 !important;
		text-decoration: underline !important;
		background-color: transparent !important;
		&:hover{
			color: black !important;
		}
	}
	ul{
		list-style: disc !important;
		li{
			background-color: transparent !important;
			cursor: default !important;
			padding: 0px !important;
			color: #585858 !important;
		}
	}
}

.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

}

.node-form .form-submit, #form-article .form-submit{
	@include button;
	border: 0;
}
