/*/////////////////////////////////////////////////////////////////////////////
/// HEADER ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

.logged-in .menu-mlid-628{
	
}

#header{
	width: 100%;
	height: 60px;
	background: white;
	position: fixed;
	z-index: 10;

	@media print {
		display: none;
	}

	.region{
		//@include container ($total-columns, $med, $large);
		
	}

	/* MENU */
	// .block-menu-block2{
	// 	//@include span-columns(6 omega,12);
	// 	@include grid-column(12);
	// }
	.block-menu-block .content{
		margin-top: 0px;
		margin-right: 2em;
		ul{
			margin: 0px;
			float:right;
			li{
				float:left;
				height: 65px;
				overflow-x:hidden;
				margin: 0 0 0 $gutter-width*1.5;
				padding: 0;
				text-align: center;
				a{
					text-transform: uppercase;
					text-decoration: none;
					color: $grey;
					font-size: 13px;
					margin-top: 18px;
					display: block;
				}
				&.menu-mlid-528{
					background: transparent url(../images/icon_settings.png) no-repeat 50% 20px;
					width: 28px;
					a{
						text-indent: -500px;
					}
				}
				&.menu-mlid-539{
					background: transparent url(../images/icon_home.png) no-repeat 3px 22px;
					width: 24px;
					a{
						text-indent: -500px;
					}
				}
				&.menu-mlid-628{
					background: transparent url(../images/icon_user.png) no-repeat 3px 22px;
					width: 24px;
					a{
						text-indent: -500px;
					}
				}
				&.menu-mlid-788{
					background: transparent url(../images/icon_help.png) no-repeat 3px 21px;
					width: 24px;
					a{
						text-indent: -500px;
					}
				}
			}
			li:hover,
			li.active,
			li.active-trail{
				height: 60px;
				border-bottom:5px solid $grey;
				&.menu-mlid-619{
					border-bottom: 5px solid module_color(14);
				}
				&.menu-mlid-492{
					border-bottom: 5px solid module_color(16);
				}
				&.menu-mlid-489{
					border-bottom: 5px solid module_color(15);
				}
				&.menu-mlid-623{
					border-bottom: 5px solid module_color(17);
				}
				&.menu-mlid-537{
					border-bottom: 5px solid module_color(42);
				}
				&.menu-mlid-538{
					border-bottom: 5px solid module_color(43);
				}

			}
		}
	}

	/* LOGO */
	#logo{
		position: absolute;
		left: 0px;
		background: $red url(../logo.png) no-repeat 50% 50%;
		height: 100%;
		width: 80px;
		display: block;
	}

}

