@mixin transition($time){
	transition: all $time;
	-moz-transition: all $time; 
	-webkit-transition: all $time; 
	-o-transition: all $time; 
}

@mixin module($nid){

  #main #sidebar .block-menu-block .content ul,
  #main #sidebar .block-views .content .view-content {
    li.active-trail,
    li:hover,
    .views-row:hover{
      border-bottom: 1px solid module_color($nid);
      li{
        border: 0;
      }
    }
  }

  .fieldset-legend{
    color: module_color($nid) !important;
  }

  .red-bar{
    background-color: module_color($nid) !important;
  }

  a.active, a:hover{
    color: module_color($nid);
    
  }

  .button{
    background-color: module_color($nid) !important;
  }

  input[type="submit"]{
    background-color: module_color($nid) !important;
  }

  .action-links, .sub-nav, .custom_tabs{

    dd.active a, a.active{
      background: module_color($nid);
      color: white;
      
    }

    a:hover{
      color: module_color($nid);
    }

  }

  h1{
    color: module_color($nid);
  }

  h3{
    color: module_color($nid) !important;
  }

  .module_title,
  &.node-module{
    background: white url('../images/icons_#{$nid}_color.png') no-repeat;
    background-position: 50% 35%;
    height: 180px;
    h2,
    h2 a{
      padding-top: 120px;
      padding-bottom: 0px;
      text-transform: uppercase;
      color: module_color($nid);
    }
    &:hover{
      border: 1px solid module_color($nid);
    }
  }

  #header #logo{
    background-color: module_color($nid);
  }

}

@function module_color($nid) {
  @if $nid == 14 {
    @return $blue;
  }
  @else if $nid == 15 {
    @return $red;
  }
  @else if $nid == 16 {
    @return $yellow;
  }
  @else if $nid == 17 {
    @return $brown;
  }
  @else if $nid == 42 {
    @return $pink;
  }
  @else if $nid == 43 {
    @return $green;
  }
  @else{
  	@return $grey;
  }

}