/*/////////////////////////////////////////////////////////////////////////////
/// SIDBAR ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#main #sidebar{
	//@include span-columns(3,12);
	@include grid-column(3);
	padding-left: 0;
	padding-right: 0;

	@media print {
		display: none;
	}
	
	.block{
		background-color: white;
		@include border-radius(4px, 4px);
		margin-bottom: $gutter-width;
		margin-right: 1em;
		

		h2{
			padding: $gutter-width;
			margin: 0;
			border-bottom: 1px dotted $grey-light;
		}
	}
	
	.module_title{
		height: 145px;
		text-align: center;
		background-position: 50% 22% !important;
		cursor: pointer;
		border: 1px solid white;
		h2{
			padding-top: 100px;
			border: 0px;
		}

	}

	/* MENU */

	.block-menu-block,
	.block-views{

		.content {
			ul, .view-content{
				margin: 0px;
				padding: 0px;
				list-style: none;
			
				li,
				.views-row{
					list-style: none;
					margin: 0px;
					padding: 15px 0px 15px 20px;
					border-bottom: 1px dotted $grey-light;
					line-height: 20px;
					
					a{
						text-decoration: none;
						font-size: 14px;

						padding: 0;
						width: 100%;
						display: block;
						
					}

					a.active,
					a:hover{
						
					}

					li{
						border-bottom:0px;
						padding: 10px 0px 0px 10px;
					}

					li.active-trail,
					li:hover{
						border-bottom: 0px;
					}

				}	

				li.menu-mlid-15{
					display: none;
				}	

				li.active-trail,
				li:hover,
				.views-row:hover{
					@include transition(0.5s);
				}

				li:last-child,
				.views-row:last-child{
					border-bottom: 0px;
				}
			}
		}
	}
}

// .page-node-96{
//	#main #sidebar{
//		display: none !important;
//	}
// }

.sub{
	margin-left: 2em;
}

.begeleider{
	#main #sidebar #block-views-methodieken-block{
		display: none !important;
	}
}

.beheerder{
	#main #sidebar .menu-mlid-642,
	#main #sidebar .menu-mlid-618{
		display: none;
	}
}


// .not-logged-in #block-menu-block-3{
// 	li:last-child{
// 		display: none;
// 	}
// }
