$red 				: #ff6865;
$red-dark   : #B33735;      
$blue				: #24a5de;
$yellow			: #dea138;
$yellow-dark: #C48F32;
$brown			: #cc693c;
$pink				: #e85092;
$green			: #23b352;

$grey-dark 	: #585858;
$grey 			: #787878;
$grey-light	: #d3d3d3;
$grey-bright: #efefef;

$font-1 : 'Lato', sans-serif, arial;

//SUSSY
$total-columns: 12;
$column-width: 5em;
$gutter-width: 1em;
$column-gutter: 2em;
$grid-padding: $gutter-width/2;



// $container-style: magic; //static, fluid
// $container-width: 90%; //960 or 1140px


// $small: $total-columns;
// $med: 6;
// $large: 12;

$relative-font-sizing : true;
$default-rhythm-border-style: solid;