@import "../../../libraries/foundation/scss/foundation/components/forms";
@import "../../../libraries/foundation/scss/foundation/components/sub-nav";
@import "../../../libraries/foundation/scss/foundation/components/tables";
@import "../../../libraries/foundation/scss/foundation/components/buttons";
@import "../../../libraries/foundation/scss/foundation/components/button-groups";
@import "../../../libraries/foundation/scss/foundation/components/grid";

@import "compass/css3";
@import "compass/support";
@import "compass/typography/vertical_rhythm";
@import "compass/layout";


@import "variables";
@import "mixins";
@import "global";

@import "header";
@import "sidebar";
@import "content";
@import "footer";

// @import "responsive";

#container{
	//@include container ($total-columns, $med, $large);
	@include grid-row();
	padding-top: 100px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	max-width: 67rem;
	@media only screen and (min-width: 64.063em){
		max-width: 78.125rem;
	}

	@media only screen and (min-width: 75.063em){
		max-width: 85.125rem;
	}
	@media print {
		padding-top: 0px;
		background-color: white;
		margin-top: -40px;
		margin-left: auto;
	}
}

.module_14{
	@include module(14);
}

.module_15{
	@include module(15);
}

.module_16{
	@include module(16);
}

.module_17{
	@include module(17);
}

.module_42{
	@include module(42);
}

.module_43{
	@include module(43);
}

.page-settings, .node-type-school{
	@include module(0);
}

.page-user{
	@include module(1);
}